.report-wrapper {
    display: flex; align-items: center; flex-direction: column; margin-top: 40px; 
}
table {
    width: 100%;
}

.form-wrapper {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-wrapper {
    width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
}